<svg width="25" height="21" viewBox="0 0 25 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns">
<title>Imported Layers</title>
<desc>Created using Figma</desc>
<g id="Canvas" transform="translate(-5076 284)" figma:type="canvas">
<g id="Imported Layers" style="mix-blend-mode:normal;" figma:type="vector-operation">
<use xlink:href="#path0_fill" transform="translate(5076 -283.75)" fill="#707070" style="mix-blend-mode:normal;"/>
</g>
</g>
<defs>
<path id="path0_fill" fill-rule="evenodd" d="M 2.5 0L 22.5 0C 23.8813 0 25 1.11865 25 2.5L 25 17.5C 25 18.8799 23.8813 20 22.5 20L 2.5 20C 1.11874 20 0 18.8799 0 17.5L 0.0125122 2.5C 0.0125122 1.11865 1.11874 0 2.5 0ZM 20 17.5L 22.5 17.5L 22.5 2.5L 21 2.5L 12.5 7.8125L 4 2.5L 2.5 2.5L 2.5 17.5L 5 17.5L 5 6.5625L 12.5 11.25L 20 6.5625L 20 17.5Z"/>
</defs>
</svg>
