mixin colleague-description(colleague)
  .colleague-description
    span.colleague-description-label Overview
    span.colleague-description-content= colleague.introduction
    span.service-description-price-label Price of our service
    span.service-description-price  Ft -  Ft
    span.service-description-price-notice Prices may vary. Price variation depends on the duration, how many people would like to take part on the service and so on.
    span.service-description-duration-label Duration
    span.service-description-duration
