extends layout

include components/service-card.pug

block content
  .hero
    .hero-content
      .logo-wrapper
        img.logo(src="../images/zivatar-logo-2.svg")
        span Zivatar rendelő
      a.hero-button Get to know us
  .services
    .service-label
      .label-text Services
      .label-underline
    .index-services-wrapper
      .services-wrapper
        +service-card(services)
  #galeria
    .service-label
      .label-text Gallery
      .label-underline
    .gallery-wrapper
      img(src="../images/room-1.jpg" alt="Zivatar" data-action="zoom").gallery-img
      img(src="../images/room-2.jpg" alt="Zivatar" data-action="zoom").gallery-img
      img(src="../images/room-3.jpg" alt="Zivatar" data-action="zoom").gallery-img
      img(src="../images/room-4.jpg" alt="Zivatar" data-action="zoom").gallery-img
      img(src="../images/room-2.jpg" alt="Zivatar" data-action="zoom").gallery-img
      img(src="../images/room-3.jpg" alt="Zivatar" data-action="zoom").gallery-img
